<table>
  <thead>
    <tr>
      <th>UId</th>
      <th>nickame</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @shoppers.first.followers.each do |follower| %>
      <tr>
        <td><%= follower.uid %></td>
        <td><%= follower.username %></td>
      </tr>
    <% end %>
  </tbody>
</table>