<h1>Brands, sign in here</h1>
<br>

<%= link_to "Sign Up", new_brand_registration_path, class: "btn btn-primary btn-lg" %>
<br>
<br>


<h1>shoppers, sign in here</h1>
<br>

<%= link_to "Sign Up", "http://localhost:3000/shoppers/auth/instagram", class: "btn btn-primary btn-lg" %>
<br>
<br>
