<h1>shoppers, sign in here</h1>
<br>

<%= link_to "Sign Up", new_brand_registration_path, class: "btn btn-primary btn-lg" %>
<br>
<br>

<%= link_to "Authorize your Instagram", "/shoppers/auth/instagram?email=test@test.com" %>
