<h1>brands, sign in here</h1>
<br>

<%= link_to "Authorize your Instagram", "/auth/instagram?type=brand" %>


<br>
<br>

<h1>shoppers, sign in here</h1>
<br>

<%= link_to "Authorize your Instagram", "/auth/instagram?type=shopper" %>
